
.background {
    background-color: #18284a;
    border-radius: 25px;
    margin-top: 5%; 
}
.color-white{
    color: #fff;
}

.link {
    color: #fff;
    text-decoration: underline;
}

.margin-35 {
    margin: 35px; 
}

.size-bg {
    font-size: 32pt;
}

.size-md {
    font-size: 24pt;
}

.size-sm{
    font-size: 14pt;
}

.text-bold{
    font-weight: bold;
}

.btn-create {
    background-color: #fe0001;
    color: #fff;
    border-color: #fe0001; 
    margin-top: 5%;
    margin-bottom: 5%;
}

.margin-b-off {
    margin-bottom: 0;
}

.img-gift > img {
    margin-top: 90px;
}

.fa-gift {
    font-size: 10em !important;
    position: absolute;
    color: black;
    margin-top: 90px;
    margin-left: 30px;
}

.svg-circle {
    position: absolute;
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(10deg);right:25px;}
50% {transform: rotate(0deg);left:0px;}
55% {transform: rotate(0deg);left:0px;}
70% {transform: rotate(-10deg);right:55px}
100% {transform: rotate(-10deg);left:0px;}
from {
    top: 0%;
}
to {
    top: 16%;
}
from {
    left: 15%;
}
to {
    left: 10%;
}
from {
    right: 15%;
}
to {
    right: 10%;
}
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(10deg);right:25px;}
50% {-webkit-transform: rotate(0deg);left:0px;}
55% {-webkit-transform: rotate(0deg);left:0px;}
70% {-webkit-transform: rotate(-10deg);right:55px;}
100% {-webkit-transform: rotate(-10deg);left:0px;}
from {
    top: 0%;
}
to {
    top: 16%;
}
from {
    left: 15%;
}
to {
    left: 10%;
}
from {
    right: 15%;
}
to {
    right: 10%;
}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(10deg);right:25px;}
50%  {-moz-transform: rotate(0deg);left:0px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(10deg);right:55px;}
100% {-moz-transform: rotate(-10deg);left:0px;}
from {
    top: 0%;
}
to {
    top: 16%;
}
from {
    left: 15%;
}
to {
    left: 10%;
}
from {
    right: 15%;
}
to {
    right: 10%;
}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(10deg);right:25px;}
50%  {transform: rotate(0deg);left:0px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(10deg);right:55px;}
100% {transform: rotate(-10deg);left:0px;}
from {
    top: 0%;
}
to {
    top: 16%;
}
from {
    left: 15%;
}
to {
    left: 10%;
}
from {
    right: 15%;
}
to {
    right: 10%;
}
}

.animate {
    animation: 2s animated_div  infinite alternate linear;
  }


  
 